/ddl/
/data/
/pynamics365/.env
/pynamics365/.environment.json
/pynamics365/entity.log
/pynamics365/pynamics365_cache.sqlite
/.env
/pynamics365/token.json
/pynamics365/dev_token.json
/pynamics365/token_dev.json
/pynamics365/token_prod.json
